<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= render 'layouts/default_head' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="content">
      <% flash.each do | key, val | %>
        <%= content_tag(:div, val, class: "alert alert-#{key}") %>
      <% end %>

      <%= yield %>

    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
